@font-face {
  font-family: "general-sans-bold";
  src: url("../assets/fonts/GENERALSANS-BOLD.OTF");
}
@font-face {
  font-family: "general-sans-semibold";
  src: url("../assets/fonts/GENERALSANS-SEMIBOLD.OTF");
}
@font-face {
  font-family: "silka-regular";
  src: url("../assets/fonts/SILKA-REGULAR.OTF");
}
@font-face {
  font-family: "silka-bold";
  src: url("../assets/fonts/SILKA-BOLD-WEBFONT.TTF");
}

$title-font: "general-sans-bold", sans-serif;
$subtitle-font: "general-sans-semibold", sans-serif;
$body-font: "silka-regular", sans-serif;
$body-bold: "silka-bold", sans-serif;

$violet: #853894;
$corail: #f37a6a;
$blue: #5ec3b5;
$black: #000000;
$white: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: $black;
}

h1 {
  font-size: clamp(40px, 7vw, 68px);
  font-family: $title-font;
  line-height: 100%;
}
h2 {
  font-size: clamp(30px, 5vw, 48px);
  font-family: $title-font;
  line-height: 100%;
}
h3 {
  font-size: clamp(24px, 4vw, 38px);
  margin-bottom: clamp(20px, 4vw, 30px);
  font-family: $subtitle-font;
  line-height: 100%;
}
h4 {
  font-size: clamp(18px, 3vw, 28px);
  font-family: $subtitle-font;
  line-height: 100%;
}
h5 {
  font-size: clamp(14px, 2vw, 18px);
  font-family: $subtitle-font;
  line-height: 100%;
}
li {
  font-size: clamp(14px, 2vw, 18px);
  font-family: $subtitle-font;
  line-height: 100%;
}
p {
  font-size: clamp(16px, 2vw, 18px);
  font-family: $body-font;
}
body {
  font-family: $body-font;
}
main {
  margin: 0 clamp(30px, 6vw, 60px);
}

footer {
  margin-top: clamp(200px, 26vw, 260px);
}
section {
  margin-top: clamp(100px, 20vw, 200px);
}
