@import "../../settings.scss";

body {
  height: 100vh;
}
.blog-content,
.actualities-content {
  margin-top: 72px;
  .search {
    .search-filter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .search-bar {
        input {
          border: 1px solid $black;
          border-radius: $border-radius;
          font-family: $body-font;
          padding: 10px 40px 10px 20px;
          display: flex;
          align-items: center;
          line-height: 100%;
          margin: 12px 12px 12px 0;
          font-size: 18px;
        }
      }
      .filter {
        position: relative;
        min-width: 150px;
        .change-filter {
          z-index: 2;
          display: flex;
          align-items: center;
          padding: 15px 20px;
          border: 1px solid $black;
          border-radius: $border-radius;
          &:hover {
            cursor: pointer;
          }
          img {
            width: 16px;
            margin-left: 16px;
            transition: transform 0.15s ease-in-out;

            &.rotate {
              transform: rotate(180deg);
            }
          }
        }
        .filter-menu {
          position: absolute;
          border: 1px solid $black;
          border-radius: $border-radius;
          box-shadow: $box-shadow;
          width: 100%;
          padding: 6px 12px;
          right: 10%;
          opacity: 0;
          visibility: hidden;
          transition: 0.2s ease-in-out; /* Ajouter une transition pour l'opacité et la visibilité */
          opacity: 1;
          visibility: visible;
          top: 100%;
          p {
            margin-top: 6px;
            position: relative;

            &:hover {
              cursor: pointer;
            }
          }

          &.hidden {
            opacity: 0;
            visibility: hidden;
            top: 70%;
          }

          p.active {
            font-weight: bold;
            &:after {
              content: "✓";
              position: absolute;
              left: 80%;
            }
          }
        }
      }
    }
    .tags-addArticle {
      margin-top: 32px;
      display: flex;
      justify-content: space-between;
      .search-tags {
        display: flex;
        .tag {
          margin-right: 10px;
          padding: 10px;
          align-items: center;
          border-radius: $border-radius;
          border: 1px solid $black;
          border-radius: $border-radius;
          background: rgba(0, 0, 0, 0.6);

          display: flex;
          &.selected {
            background: rgba(0, 0, 0, 0.8);
          }
          h5 {
            color: $white;
            margin-right: 12px;
            font-family: $body-font;
          }
          p {
            color: $white;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  .blog-container,
  .actuality-container {
    margin-top: 72px;
    border-top: 1px solid $black;
    #no-result {
      font-size: 22px;
      margin-top: 34px;
    }
    .post {
      .admin-params {
        padding: 34px 34px 0 34px;
        display: flex;
        justify-content: space-between;
        .fa-sharp {
          &:hover {
            cursor: pointer;
          }
        }
        a {
          font-size: 1.2rem;
        }
      }
      .article {
        border-bottom: 1px solid $black;
        padding: 34px;
        display: flex;
        @media screen and (max-width: 640px) {
          flex-direction: column;
        }
        .article-info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 70%;
          @media screen and (max-width: 640px) {
            width: 100%;
          }
          h4 {
            margin-bottom: 24px;
          }
          p {
            margin-bottom: 42px;
          }
        }
        .article-img {
          width: 30%;
          height: 210px;
          @media screen and (max-width: 640px) {
            width: 100%;
            margin-top: 16px;
          }
          img {
            border-radius: $border-radius;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
