@import "../../settings.scss";

.teachers {
  margin-top: 122px;
  .controller-teacher {
    display: flex;
    justify-content: space-between;
  }
}

.controller {
  margin-top: 24px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
input {
  margin: 2px 0;
  border-radius: $border-radius;
}
