@import "../settings.scss";

.avis {
  color: red;
  h3 {
    margin-bottom: 72px;
  }
  .avis-card {
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: $box-shadow;
    border-radius: 15px;
    padding: 24px;
    .avis-header {
      display: flex;
      margin-bottom: 24px;
      img {
        width: 30px;
        margin-right: 15px;
      }
    }
    #show-more {
      margin-top: 12px;
      text-align: right;
    }
  }
}
