@import "../settings.scss";

.caroussel-article {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .slides-container {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    height: 450px;
    width: 80%;
  }
  .slide {
    border-radius: $border-radius;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .slide-hidden {
    display: none;
  }
  .chevron {
    position: absolute;
    font-size: 1.5rem;
    color: $black;
    transition: 0.1s ease-in;
    &:hover {
      cursor: pointer;
      // font-size: 1.7rem;
    }
    &.chevron-left {
      left: 2rem;
    }
    &.chevron-right {
      right: 2rem;
    }
  }
  .indicators {
    display: flex;
    position: absolute;
    bottom: 1rem;
    .indicator {
      width: clamp(1.5rem, 5vw, 50px);
      height: clamp(0.5rem, 4vw, 40px);

      margin: 0 0.2rem;
      color: $white;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1px;
      }
    }
    .indicator-inactive {
      filter: brightness(0.5);
    }
  }
}
