@import "../settings.scss";
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  a {
    font-size: 16px;
    font-family: $subtitle-font;
  }
  &.violet {
    .active {
      &:after {
        background-color: $violet;
      }
    }
  }
  &.corail {
    .active {
      &:after {
        background-color: $corail;
      }
    }
  }
  &.blue {
    .active {
      &:after {
        background-color: $blue;
      }
    }
  }

  .nav-home {
    a {
      img {
        width: 30px;
      }
      display: flex;
      align-items: center;

      &.active-home {
        li::after {
          content: "";
          display: block;
          width: 100%;
          height: 2.5px;
          background-color: $violet; // Couleur du trait après le li
        }
      }
    }
  }

  .nav-links {
    align-items: center;

    ul {
      display: flex;
      a {
        margin: 0 20px;
      }
      .active {
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 2.5px;
        }
      }
    }
  }
}
