@import "../settings.scss";
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  a {
    font-size: 16px;
    font-family: $subtitle-font;
  }
  &.violet {
    a.active {
      li:after {
        background-color: $violet;
      }
      &:after {
        background-color: $violet;
      }
    }
    .nav-links {
      ul {
        a {
          &:after {
            background-color: $violet; /* Couleur du fond lors du survol */
          }
        }
      }
    }
  }
  &.corail {
    .active {
      &:after {
        background-color: $corail;
      }
    }
    .nav-links {
      ul {
        a {
          &:after {
            background-color: $corail; /* Couleur du fond lors du survol */
          }
        }
      }
    }
  }
  &.blue {
    .active {
      &:after {
        background-color: $blue;
      }
    }
    .nav-links {
      ul {
        a {
          &:after {
            background-color: $blue; /* Couleur du fond lors du survol */
          }
        }
      }
    }
  }

  .nav-home {
    a {
      img {
        width: 30px;
      }
      display: flex;
      align-items: center;
      &:after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        transform: scaleX(0);
        height: 2.5px;

        transition: transform 0.2s ease; /* Ajouter une transition pour l'animation */
        transform-origin: bottom right;
      }
      &.active-home {
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 2.5px;
        }
      }
    }
  }
  .nav-links {
    align-items: center;

    ul {
      display: flex;

      a {
        margin: 0 20px;
        position: relative;
        display: inline-block;

        &:after {
          content: "";
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 100%;
          transform: scaleX(0);
          height: 2.5px;

          transition: transform 0.2s; /* Ajouter une transition pour l'animation */
          transform-origin: bottom right;
        }

        &:hover,
        &.active {
          &:after {
            width: 100%; /* Agrandir la largeur au survol et lorsque actif */
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }
      }
    }
  }
}
